dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.ps
*.eventlog
.stack-work/
cabal.project.local
.HTF/
/target/
Cargo.lock
**/*.dump-simpl
**/*.rs.bk
**/test-secrets.json
*.dump-simpl
selena_ghci_tests
venv/
ENV/
*.pyc
